html, body {
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

body {
	background-color: #191970;
	color: white;
}

a {
	color: lightgray;
	text-decoration-line: underline;
}

a:hover {
	color: white;
}

nav {
	display: inline-block;
	padding: 0.3em 0.5em;
}

nav a {
	padding: 0 0.3em;
}

hr {
	padding: 0;
	margin: 0;
}

form {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#themap, #thegraph {
	flex-grow: 1;
	background-color: #1a1a1a;
}

#themap .planet {
	stroke: lightblue;
	stroke-width: 0.2;
}

#themap .ship {
	stroke: white;
	stroke-width: 0.5;
}

#themap .wreck {
	stroke: black;
	stroke-width: 0.5;
}

#themap .line {
	stroke: dimgray;
	stroke-width: 0.1;
}

#themap .beam {
	stroke: red;
	stroke-width: 2.5;
	stroke-linecap: round;
	pointer-events: none;
}
#themap .particle {
	stroke-width: 0.25;
	pointer-events: none;
}
#themap .particle-0 {
	stroke: yellow;
	fill: white;
}
#themap .particle-1 {
	stroke: red;
	fill: chocolate;
}
#themap .particle-2 {
	stroke: gold;
	fill: orange;
}

#themap .trade-price {
	font-size: 15px;
	text-anchor: middle;
	dominant-baseline: middle;
	pointer-events: none;
}

#themap .trade-name {
	font-size: 8px;
	dominant-baseline: middle;
	pointer-events: none;
}

#modalContainer {
	display: none;
}

.modalWindow {
	position: fixed;
}

.modalWindowItem {
	min-width: 20em;
	padding: 0.3em;
	border: 1px solid lightgray;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.8);
	color: lightgray;
}

.modalWindowItem:first-child {
	border-radius: 0px 10px 10px 10px;
}

#playersContainer {
	display: block;
}

#playersOverlay {
	position: fixed;
	right: 0px;
	bottom: 0px;
	padding: 0.3em;
	border: 1px solid lightgray;
	border-radius: 10px 0px 0px 0px;
	background-color: rgba(0, 0, 0, 0.8);
}

#playersOverlay td {
	text-align: right;
}

.commodities {
	border-collapse: collapse;
}

.commodities td {
	padding: 0.1em;
}

.commodities tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.1);
}

.commodities tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.1);
}

.amount {
	text-align: right;
}

.buy {
	text-align: right;
	color: red;
}

.sell {
	text-align: right;
	color: green;
}

#thegraph .line {
	stroke-width: 1;
	fill: none;
}

#thegraph .line-resources {
	stroke-dasharray: 4 8;
}
#thegraph .line-ships {
	stroke-dasharray: 2 4;
}
#thegraph .line-money {
	stroke-dasharray: 6 12;
}
#thegraph .line-total {
	stroke-width: 2;
}

#thegraph .legend {
	text-anchor: end;
}
